<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>TimeStamp Microservice</h1>
         <h3>Free Code Camp Backend Challenge</h3>
        <h6>Usage:<br/><mark>/456454</mark> where the number is the unix time or
          <br/> <mark>/January,25 2017</mark>
        </h6>
       
      </div>
   </body>

</html>
